@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  min-width: 340px;
  overflow: auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  min-height: 100%;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  background-image: url("/public/img/bg.jpg");
}

footer {
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 20px;
  background-color: rgba(22, 22, 22, 0.841);
  color: rgb(122, 122, 122);
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

#player-wrapper,
#playlist-wrapper {
  margin: 10px;
}

/* Player */
#player-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

#box-left,
#box-right {
  width: 50px;
}

/* Box - Left/Right */
#box-right {
  padding: 5px;

  writing-mode: vertical-lr;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: "Chivo Mono", monospace;
}

/* Player - Playing */
#playing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Player - Playing Content */
#playing-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(22, 22, 22, 0.841);
  box-shadow: 0px 0px 10px black;
  color: rgb(255, 255, 255);
}

/* Player - Image */
#playing-image {
  width: 300px;
  height: 300px;

  background-image: url("/public/img/track1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
}

/* Player - Track Info */
#playing-track {
  max-width: 360px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  text-align: end;

  border-bottom-right-radius: 10px;
}

#playing-track div {
  padding: 2px;
  margin-left: 45px;
  margin-right: 15px;
  font-family: "Titillium Web", sans-serif;
}

/* Playing track components */
#current-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.566);
}
#current-artist {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
#current-line {
  width: 70%;
  height: 15px;
  border-top: 1px solid rgb(73, 73, 73);
}
#current-album,
#current-release {
  font-size: 1.2rem;
}

/* Playlist */
#playlist-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  border-top: 15px solid rgb(66, 66, 66);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Playlist - Songs */
#song-wrapper {
  max-height: 320px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba(22, 22, 22, 0.841);
  box-shadow: 0px 0px 20px black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.song {
  margin: 0px 10px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1.1rem;
  font-family: "Chivo Mono", monospace;
  color: white;
  border-bottom: 2px solid rgb(246, 43, 175, 0.9);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.51);
}

.song:hover {
  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  cursor: pointer;
}

.song-component {
  padding: 10px;
  color: rgb(217, 217, 217);
}

@media only screen and (min-width: 1200px) {
  #art1 {
    position: fixed;
    top: 65%;
    left: 2%;
    z-index: 999;
    width: 250px;
    height: 250px;
    background-image: url("/public/img/music2.gif");
    background-repeat: no-repeat;
    background-size: 250px;
  }

  #art2 {
    position: fixed;
    top: 20%;
    left: 80%;
    z-index: 999;
    width: 300px;
    height: 300px;
    background-image: url("/public/img/music.gif");
    background-repeat: no-repeat;
    background-size: 300px;
  }
}

@media only screen and (min-width: 781px) {
  #playlist-wrapper {
    min-width: 680px;
  }
}

@media only screen and (max-width: 780px) {
  #player-wrapper {
    margin-bottom: 5px;
  }
  #box-left,
  #box-right {
    min-width: 10px;
  }
  #box-right {
    font-size: 1.5rem;
  }
  #playing-image {
    width: 220px;
    height: 220px;
    border-radius: 0px;
  }
  #playing-track {
    max-width: 220px;
    border-radius: 0px;
    align-items: center;
    text-align: center;
  }
  #playing-track div {
    margin: 0px 5px;
  }
  #current-title {
    font-size: 1.7rem;
  }
  #current-artist {
    font-size: 1.3rem;
  }
  #current-line {
    height: 0;
    width: 0;
  }
  #current-album,
  #current-release {
    font-size: 1rem;
  }

  #playlist-wrapper {
    border-top: 8px solid rgb(66, 66, 66);
  }
  #song-wrapper {
    max-height: 250px;
  }
  .song {
    font-size: 0.9rem;
  }
  .song-component {
    padding: 2px;
  }
}
